{% extends 'steam/base.html' %}

{% block content %}
    <h1>{{ title }}</h1>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" >
        <div class = "album py-5"></div>
        <div class="col">
          <div class="card shadow-sm">
              <img src="{{ game.image.url}}"/>
                <div class="card-body">
              <h3>{{ game.title }}</h3>
              <p class="card-text"> <b>Описание:</b> {{ game.description }}</p>
                    <p  class = "card-text"> <b>Рейтинг:</b> {{ game.rating }}</p>
                    <p  class = "card-text"> <b>Дата релиза:</b> {{ game.realise_date }}</p>
                    <p  class = "card-text"> <b>Жанр:</b> {{ game.genre }}</p>
                    <p  class = "card-text"> <b>Разработчик:</b> {{ game.developer.name }}</p>
            </div>
          </div>
        </div>
        </div>
    </div>
{% endblock %}