{% extends 'steam/base.html' %}

{% block content %}
    <h1>{{ title }}</h1>
    {% for n in news %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" >
        <div class = "album py-5"></div>
        <div class="col">
          <div class="card shadow-sm">
              <img src="{{ n.image.url}}"/>
                <div class="card-body">
              <h3>{{ n.title }}</h3>
              <p class="card-text">{{ n.text }}</p>
            </div>
          </div>
        </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}